body, .container {
  background-color: #000000; 
  color: #D1D1D1; 
}

h1, h2, p {
  color: #D1D1D1; 
}

.form-label {
  color: #A7C6ED; 
}

.form-control {
  background-color: #D1D1D1; 
  border: 1px solid #D1D1D1; 
  color: #D1D1D1;
}

button {
  background-color: #FF7043; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

button:hover {
  background-color: #D46A3A; 
}

textarea {
  background-color: #D1D1D1;
  border: 1px solid #D1D1D1;
  color: #D1D1D1;
}
